<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/CSS/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/CSS/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/CSS/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/CSS/AdminLTE.min.css">
    <link rel="stylesheet" href="~/CSS/_all-skins.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link href="~/CSS/style.css" rel="stylesheet" />
    <script src="~/JS/jquery-1.11.3.min.js" type="text/javascript"> </script>
    <script src="~/JS/jquery.easing.1.3.min.js" type="text/javascript"></script>
    <script src="~/JS/jquery-ui.js"></script>
    <script src="~/JS/angular.min.js"></script>
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/ej.web.all.min.css" rel="stylesheet" />
    <script src="~/JS/angular-messages.min.js"></script>
    <script type="text/javascript" src="~/JS/ej.web.all.min.js "></script>
    <script src="~/JS/ej.widget.angular.min.js"></script>
    <script src="~/JS/Common.js"></script>


    <style>
        .btn.btn-success {
            color: #ffffff;
            background-color: #5BB75B;
            background-image: linear-gradient(to bottom, #ff0303, #51A351);
            border-color: #52a452 #4e9c4e #448944;
        }

            .btn.btn-success:hover {
                color: #ffffff;
                background-color: #51A351;
                background-image: linear-gradient(to bottom, #51A351, #51A351);
                border-color: #52a452 #4e9c4e #448944;
            }

        .row {
            margin-top: 10px;
        }

        .divmargin {
            margin-top: 10px;
        }
        .hiddenmessages {
            display: none;
        }

        .errorClass {
            border: 1px solid red;
        }

        .modelerror {
            color: red;
        }
        .modelformerror {
            color: red;
        }
        .modelSuccess {
            color: green;
        }
    </style>

    @{
        string listenertoken = "", CompanyID = "";
        string listenerurl = "";
        if (Session["listenertoken"] != null)
        {
            listenertoken = Session["listenertoken"].ToString();
        }
        if (Session["CompanyID"] != null)
        {
            CompanyID = Session["CompanyID"].ToString();
        }
        else
        {
            CompanyID = System.Configuration.ConfigurationManager.AppSettings["CompanyID"].ToString();
        }
        listenerurl = System.Configuration.ConfigurationManager.AppSettings["ListnerUrl"].ToString();
    }
</head>
<body class="skin-blue" data-spy="scroll" data-target="#scrollspy">
    <input type="hidden" id="listenerurl" value="@listenerurl" />
    <div class="wrapper">



        @if (Session["listenertoken"] != null)
        {
            <input type="hidden" value="@CompanyID" id="CompanyID" />
            <input type="hidden" value="@listenertoken" id="listenertoken" />
            <header class="main-header">
                <!-- Logo -->
                <a href="../index2.html" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>S</b>D</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Soft</b>Debugger</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        @*ng-app="LayoutApp" ng-controller="Layoutcontroller"*@
                        <ul class="nav navbar-nav">
                            <li><a href="@Url.Action("CompanyDetails","Home","Admin")"><span id="spnCompanyName">@Convert.ToString(Session["CompanyName"])</span></a></li>
                            <li><a href="@Url.Action("AgentProfile","Admin","Admin")"><span id="spnAgentName">@Convert.ToString(Session["AgentName"])</span></a></li>
                            <li><a href="@Url.Action("SignUp","Home")">Logout Me</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            @Html.Partial("~/Areas/Admin/Views/Shared/AdminHeader.cshtml")

        }
        <script src="~/JS/ui-bootstrap-tpls-0.9.0.js"></script>

        @RenderBody()
        @if (Session["listenertoken"] != null)
        {

            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0.0
                </div>
                <strong>Copyright &copy; 2017-2018 <a href="https://www.softdebugger.com">SoftDebugger</a>.</strong> All rights
                reserved.
            </footer>
        <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Create the tabs -->
                <div class="pad">
                    This is an example of the control sidebar.
                </div>
            </aside><!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
            <script>

                $(document).ready(function () {

                    startCycle();
                });
            </script>
        }
    </div>

</body>
</html>
