@using Newtonsoft.Json.Linq;
@{
    string LanguageText = Convert.ToString(ViewBag.ContactusLangFile);
    JObject objLanguagerequiredText = JObject.Parse(LanguageText);
}

@Html.Partial("~/Views/_Shared/_Header.cshtml");
<script src="../js/jquery.min.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

<script src="~/js/angular.min.js"></script>

<script src="~/js/angular-route.min.js"></script>
<div class="content">
    <div class="wrap">
        <!---728x90--->
        @*<div style="text-align: center;">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-9153409599391170"
                     data-ad-slot="6850850687"></ins>
                <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>*@
        <!---start-contact---->
        <div class="section group">
            <div class="col span_1_of_3">
                <div class="contact_info">
                    <h3>@objLanguagerequiredText.SelectToken("FindusKey").ToString()</h3>
                    <div class="map">
                        <iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Noida+City+Center,+UP,+India&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Noida+City+Center,+Noida,+Uttar+Pradesh,+India&amp;t=m&amp;z=2&amp;ll=20.593684,78.96288&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Noida+City+Center,+UP,+India&amp;aq=4&amp;oq=light&amp;sll=20.593684,78.96288&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Noda+City+Center,+Noida,+Uttar+Pradesh,+India&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:12px">View Larger Map</a></small>
                    </div>
                </div>
                <div class="company_address">
                    <h3>@objLanguagerequiredText.SelectToken("CompanyInfoKey").ToString()</h3>
                    <p>@objLanguagerequiredText.SelectToken("CompanyNameKey").ToString(),</p>
                    <p>GURGAON, HARIYANA,</p>
                    <p>INDIA</p>
                    <p>Phone:(+91) 982 145 7769</p>
                    <p>Fax: (000) 000 00 00 0</p>
                    <p>Email: <span><a href="mailto:amit.dwhfcl@gmail.com">amit.dwhfcl@gmail.com</a></span></p>
                    <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
                </div>
            </div>
            <div class="col span_2_of_3">
                <div class="common-hdng common-hdng-with-p">
                    <h1>@objLanguagerequiredText.SelectToken("IdeaSuggestionKey").ToString()</h1>

                </div>
                <div class="contact-form" ng-app="conatctusapp">
                    <h3>@objLanguagerequiredText.SelectToken("Conatctuskey").ToString()</h3>
                    <form ng-controller="ConatctUsController">
                        <div>
                            <span><label>@objLanguagerequiredText.SelectToken("NameKey").ToString()</label></span>
                            <span><input type="text" class="textbox" id="CustomerName" ng-model="CustomerName"></span>
                        </div>
                        <div>
                            <span><label>@objLanguagerequiredText.SelectToken("Emailkey").ToString()</label></span>
                            <span><input type="text" class="textbox" id="Email" ng-model="Email"></span>
                        </div>
                        <!---728x90--->
                        @*<div style="text-align: center;">
                                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <ins class="adsbygoogle"
                                     style="display:inline-block;width:728px;height:90px"
                                     data-ad-client="ca-pub-9153409599391170"
                                     data-ad-slot="6850850687"></ins>
                                <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>*@
                        <div>
                            <span><label>@objLanguagerequiredText.SelectToken("MobileKey").ToString()</label></span>
                            <span><input type="text" class="textbox" id="CustomerMobile" ng-model="CustomerMobile"></span>
                        </div>
                        <div>
                            <span><label>@objLanguagerequiredText.SelectToken("EnquiryKey").ToString()</label></span>
                            <span><textarea id="CustomerMessage" ng-model="CustomerMessage"> </textarea></span>
                        </div>
                        <div>
                            <span><input type="submit" value="@objLanguagerequiredText.SelectToken("SubmitKey").ToString()" id="Submit" ng-click="InsertEnquiry();"></span>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!---End-contact---->
    <div class="clear"> </div>
</div>
@Html.Partial("~/Views/_Shared/_Footer.cshtml");

<script>
    var ContactUsApp = angular.module("ContactUsApp", []);
    ContactUsApp.controller("ConatctUsController", ["$scope", function ($scope) {


        $scope.InsertEnquiry = function ($scope, $http) {
            debugger;
            $http.post('../Home/InsertCustomerEnquiry').data($scope).then(function () {
                alert('Inserted Successfully');
            });
        };

    }]);
</script>
