@using Newtonsoft.Json.Linq;
@{
    ViewBag.Title = "Index";
    string LanguageText = Convert.ToString(ViewBag.IndexLangFile);
    JObject objLanguagerequiredText = JObject.Parse(LanguageText);

}
@Html.Partial("~/Views/_Shared/_Header.cshtml");

<html lang="en">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@objLanguagerequiredText.SelectToken("IndexPageTitle").ToString()</title>
    <meta name="description" content="@objLanguagerequiredText.SelectToken("MetaDescriptionKey").ToString()" />
    <meta name="author" content="@objLanguagerequiredText.SelectToken("MetaAuthorKey").ToString()">
</head>
<body>
    <div class="banner" id="SoftDebugger_banner_slide">
        <ul>
            @*<li class="SoftDebugger_banner_slide_02">
                <div class="slide_caption">
                    <h1>@objLanguagerequiredText.SelectToken("MedicalServices").ToString()</h1>
                    <p>@objLanguagerequiredText.SelectToken("MedicalServiceContent").ToString()</p>
                </div>
            </li>*@
            <li class="SoftDebugger_banner_slide_01">
                <div class="slide_caption">
                    <h1>@objLanguagerequiredText.SelectToken("TourServices").ToString()</h1>
                    <p>@objLanguagerequiredText.SelectToken("TourServicesContent").ToString()</p>
                </div>
            </li>
            <li class="SoftDebugger_banner_slide_03">
                <div class="slide_caption">
                    <h1>@objLanguagerequiredText.SelectToken("TravelTechnologyKey").ToString()</h1>
                    <p>@objLanguagerequiredText.SelectToken("TravelTechnologyContent").ToString()</p>
                </div>
            </li>
        </ul>
    </div>
    <div id="SoftDebugger_about" class="AboutTravelTab container_wapper">
        <div class="container-fluid">
            <h1>@objLanguagerequiredText.SelectToken("AboutourOrganizationKey").ToString()</h1>
            <div class="col-sm-6 col-md-3 about_icon">
                <div class="imgwap mission"><i class="fa fa-rocket"></i></div>
                <h2>@objLanguagerequiredText.SelectToken("WhoWeAreKey").ToString()</h2>
                <p>@objLanguagerequiredText.SelectToken("WhoWeAreContent").ToString()</p>
            </div>
            <div class="col-sm-6 col-md-3 about_icon">
                <div class="imgwap product"><i class="fa fa-cubes"></i></div>
                <h2>@objLanguagerequiredText.SelectToken("OurGoalsKey").ToString()</h2>
                <p>@objLanguagerequiredText.SelectToken("OurGoalsContent").ToString()</p>
            </div>
            <div class="col-sm-6 col-md-3 about_icon">
                <div class="imgwap testimonial"><i class="fa fa-bar-chart-o"></i></div>
                <h2>@objLanguagerequiredText.SelectToken("SuggestionKey").ToString()</h2>
                <p>@objLanguagerequiredText.SelectToken("SuggestionContent").ToString()</p>
            </div>
            <div class="col-sm-6 col-md-3 about_icon">
                <div class="imgwap statistic"><i class="fa fa-comments"></i></div>
                <h2>@objLanguagerequiredText.SelectToken("SocialMediaKey").ToString()</h2>
                <p>@objLanguagerequiredText.SelectToken("SocialMediaContent").ToString()</p>
            </div>
            <div class="clearfix testimonial_top_bottom_spacer"></div>
            <div class="col-xs-1 pre_next_wap" id="prev_testimonial">
                <a href="#"><span class="glyphicon glyphicon-chevron-left pre_next"></span></a>
            </div>
            <div id="testimonial_text_wap" class="col-xs-9 col-sm-10">
                <div class="testimonial_text">
                    <div class="col-sm-3">
                        <img src="../images/templatemo_member_01.png" class="img-responsive" alt="Travel Product Expert" />
                    </div>
                    <div class="col-sm-9">
                        <h2><a href="https://www.linkedin.com/in/sanjeev02saraswat/" target="_blank">Sanjeev Saraswat</a></h2>
                        <h3>Software Engineer</h3>
                        <p>@objLanguagerequiredText.SelectToken("AboutSanjeev").ToString()</p>
                    </div>
                </div><!--.testimonial_text-->
                <div class="testimonial_text">
                        <div class="col-sm-3">
                            <img src="../images/templatemo_member_02.jpg" class="img-responsive" alt="Chief Public Relation Officer" />
                        </div>
                        <div class="col-sm-9">
                            <h2>Amit Pratap Singh</h2>
                            <h3>Application Maintinance &amp; Support Engineer</h3>
                            <p>@objLanguagerequiredText.SelectToken("AboutAmit").ToString()</p>
                        </div>
                    </div>
                <div class="testimonial_text">
                    <div class="col-sm-3">
                        <img src="../images/templatemo_member_03.jpg" class="img-responsive" alt="Marketing Executive" />
                    </div>
                    <div class="col-sm-9">
                        <h2><a href="https://www.linkedin.com/in/nihal-elazher-52b100b0/" target="_blank">Nihal Elazher</a></h2>
                        <h3>Marketing Executive</h3>
                        <p>@objLanguagerequiredText.SelectToken("AboutJulia").ToString()</p>
                    </div>
                </div><!--.testimonial_text-->
                <div class="testimonial_text">
                    <div class="col-sm-3">
                        <img src="../images/templatemo_member_04.jpg" class="img-responsive" alt="Chief Executive Officer" />
                    </div>
                    <div class="col-sm-9">
                        <h2>Raghwendra Singh</h2>
                        <h3>Server Engineer</h3>
                        <p>@objLanguagerequiredText.SelectToken("AboutRaghwendra").ToString()<a href="https://www.linkedin.com/in/raghwendra-singh-ab668466/" target="_blank"> Click Here</a></p>
                    </div>
                </div><!--.testimonial_text-->
            </div><!--#testimonial_text_wap-->
            <div class="col-xs-1 pre_next_wap" id="next_testimonial">
                <a href="#"><span class="glyphicon glyphicon-chevron-right pre_next"></span></a>
            </div>
            <div class="clearfix testimonial_top_bottom_spacer"></div>
        </div>
    </div><!--SoftDebugger_about-->
    <div id="SoftDebugger_events" class="container_wapper">
        <div class="container-fluid">
            <h1>Services</h1>
            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                <div class="event_box_wap event_animate_left">
                    <div class="event_box_img">
                        <img src="../images/TRAVELSMART.jpg" class="img-responsive" style="width: -webkit-fill-available;" alt="SoftDebugger Makes Your Travel Booking Easy from fly to ride and ride to stay." />
                    </div>
                    <div class="event_box_caption">
                        <h1>Travel Technology Services</h1>
                        @*<p><span class="glyphicon glyphicon-map-marker"></span> Fly to Ride....</p>*@
                        <p>We build the travel technology to automate the services, Your Customer Search to fly will maintained by our Booking Engine.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0" style="height:400px">
                <div class="event_box_wap event_animate_left">
                    <div class="event_box_img">
                        <img src="../images/Tour-Operator.png" style="width: -webkit-fill-available;" class="img-responsive" alt="" />
                    </div>
                    <div class="event_box_caption">
                        <h1>Tour Operators</h1>
                        @*<p><span class="glyphicon glyphicon-map-marker"></span> Old Town Center, Mandalay, Myanmar &nbsp;&nbsp; <span class="glyphicon glyphicon-time"></span> 3:30 PM to 6:30 PM </p>*@
                        <p>Tour Operator Services with FIT and group packages offering to create and manage Inbound, Ountbound and DMC Tour packages.</p>
                    </div>
                </div>
            </div>
            
            <div class="clearfix"></div>
            @*<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
    <div class="event_box_wap event_animate_right">
        <div class="event_box_img">
            <img src="../images/templatemo_event_02.jpg" class="img-responsive" alt="Free Bootstrap Seminar" />
        </div>
        <div class="event_box_caption">
            <h1>Medical Services</h1>
            @*<p><span class="glyphicon glyphicon-map-marker"></span> Digital Hall, Yangon, Myanmar &nbsp;&nbsp; <span class="glyphicon glyphicon-time"></span> 10:30 AM to 3:30 PM </p>*@
            @* <p>We are merging Medical Services with IT, One ground place where you can take care of life...</p>
                        </div>
                    </div>
                </div>*@
            @*<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0" style="height:400px;">
                <div class="event_box_wap event_animate_right">
                    <div class="event_box_img">
                        <img src="../images/SoftDebugger_Education.jpg" style="width: -webkit-fill-available;" class="img-responsive" alt="" />
                    </div>
                    <div class="event_box_caption">
                        <h1>Education Services</h1>
                        @*<p><span class="glyphicon glyphicon-map-marker"></span> New Hat, Lashio, Myanmar &nbsp;&nbsp; <span class="glyphicon glyphicon-time"></span> 2:15 PM to 5:15 PM </p>*@
                        @*@<p>We are creating the services to make generation smart with smart world.</p>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
    @Html.Partial("~/Views/_Shared/_Footer.cshtml");
</body>

<script src="~/js/Index.js"></script>
@*<script src="../js/templatemo_script.js"></script>*@
</html>

