@using Newtonsoft.Json.Linq;

@{
    string LanguageText = Convert.ToString(Session["LangFile"]);
    JObject objLanguagerequiredText = JObject.Parse(LanguageText);

}


<footer class="footer-distributed">

    <div class="footer-right">

        <a href="https://www.facebook.com/SoftDebugger/"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a href="~/Home/Index#">@objLanguagerequiredText.SelectToken("HomeKey").ToString()</a>
            ·
            <a href="~/Home/Index#SoftDebugger_about">@objLanguagerequiredText.SelectToken("AboutKey").ToString()</a>
            ·
            <a href="~/Home/Index#SoftDebugger_events">@objLanguagerequiredText.SelectToken("ServicesKey").ToString()</a>
            ·           
            <a href="~/Home/Contact">Contact</a>
        </p>

        <p>@objLanguagerequiredText.SelectToken("CompanyName").ToString() &copy; 2017</p>
    </div>

</footer>


<script>
    $(document).ready(function () {
        $(".contactus").click(function () {
            if (location.href.toString().indexOf("contact") > -1) {
                location.reload();
            }
            else {
                location.href = "@Url.Action("contact","Home")";
            }
        });


        $(".aboutsus").click(function () {
            if (location.href.toString().indexOf("contact") > -1) {
                location.href = "Index#SoftDebugger_about";
            }

        });
        $(".events").click(function () {
            if (location.href.toString().indexOf("contact") > -1) {
                location.href = "Index#SoftDebugger_events";
            }

        });
        $(".timeline").click(function () {
            if (location.href.toString().indexOf("contact") > -1) {
                location.href = "Index#templatemo_timeline";
            }
        });
        $(".timeline").click(function () {
            if (location.href.toString().indexOf("contact") > -1) {
                location.href = "Index#templatemo_timeline";
            }


        });
    });
        $(document).ready(function () {
            //code to change Language
         
            $("#lanPortuguese,#lanArabic,#lanEnglish").click(function () {
                var ObjLogInDto = new Object();
                if (this.id == "lanEnglish") {
                    ObjLogInDto.LanguageCode = "US";
                }
                else if (this.id == "lanArabic") {
                    ObjLogInDto.LanguageCode = "ar-sa";
                }
                else {

                    ObjLogInDto.LanguageCode = "BR";
                }
                var currenturl = window.location.href;

                var messangername = $("#FullName").val();

                var StringifiedData = JSON.stringify(ObjLogInDto)

                $.ajax({
                    //url: 'Url.Action("ChangeLanguage", "Home")',
                    url: '/Home/ChangeLanguage',
                    async: false,
                    type: "POST",
                    data: StringifiedData,
                    contentType: "application/json; charset=utf-8",
                    success: function (data, textStatus, jqXHR) {
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        location.reload();
                    }
                });

            });
            $(".homepage").click(function () {
                if (location.href.toString().indexOf("contact") > -1) {
                    location.href = "Index";
                }
                $('html, body').animate({ scrollTop: 0 }, 0);
            });
            
        });
</script>
